* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #F6F6F6;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    width: 100%;
    padding: 40px 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.container header {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #373745;
    width: 352px;
    height: 36px;
}

form .field {
    margin: 12px;
}

form .input-field {
    position: relative;
    height: 48px;
    width: 352px;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    padding: 12px 20px;

    /* border: 1px solid #E93E3E; под JS (при failed)*/
}

.input-field input {
    height: 100%;
    width: 100%;
    border: 0;
    letter-spacing: 0.24px;
    font-size: 16px;
}

.field .error {
    letter-spacing: 0.25px;
    font-size: 12px;
    line-height: 16px;
    color: #E93E3E;

    /*display: none; под JS (при failed)*/
}

input::placeholder {
    color: #B1B1B7;
    font-size: 16px;
    letter-spacing: 0.24px
} 

input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus {
    outline: none;
    color: #373745;
    font-size: 16px;
    letter-spacing: 0.24px
}

#enter {
    width: 352px;
    height: 48px;
    margin: 8px 0 0 12px;
    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;
    border: none;
    color: #ffffff;
    letter-spacing: 0.24px;
    font-weight: 500;
    font-size: 16px;

    /*backround: #60C2AA; Переход под JS (при failed)*/
}