html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #F6F6F6;
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.24px;
}

header {
    position: fixed;
    width: -webkit-fill-available;
    height: 64px;
    left: 0;
    top: 0;

    /* Gray / White */

    background: #FFFFFF;
    /* Elevation/Lv1 */

    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#nav-panel {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;

    height: 32px;


    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

#nav-panel div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;

    /* Body / 16px medium */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.24px;

    /* Gray / 700 */

    color: #373745;
}

#nav-panel .active {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;

    background: #60C2AA;
    border-radius: 200px;
    color: white;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#main-container {
    margin-top: 64px;
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
}

#table-container {
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0 auto;
padding: 32px;
gap: 24px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
border-radius: 40px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    color: #373745;
    line-height: 150%;
}

table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    max-width: 962px;
    color: #373745;
}

tbody {
    text-align: left;
}

th, td {
    padding: 12px 8px;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    max-height: 48px;
}

th {
    width: 440px;
    height: 40px;
    gap: 16px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.24px;
}

th:nth-child(n+2) {
    width: 108px;
}

th:nth-child(5) {
    width: 134px;
}



td:nth-child(3) {
    color:  #69B849;
}

td:nth-child(4) {
    color: #E93E3E;
}